In [13]:
#importing libriaries 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report

dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [14]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [15]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [34]:
idp=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dp=dataset[['Purchased']]
x_train,x_test,y_train,y_test=train_test_split(idp,dp,test_size=0.30,random_state=0)

In [35]:
classifier=SVC(kernel='rbf',random_state=0)
classifier= classifier.fit(x_train,y_train)

C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [36]:
y_pred=classifier.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
cm

array([[78,  1],
       [33,  8]], dtype=int64)

In [37]:
clf=classification_report(y_test,y_pred)

In [38]:
print(clf)

              precision    recall  f1-score   support

           0       0.70      0.99      0.82        79
           1       0.89      0.20      0.32        41

    accuracy                           0.72       120
   macro avg       0.80      0.59      0.57       120
weighted avg       0.77      0.72      0.65       120

In [1]:
classifier.predict([[40,300,1,]])

NameError: name 'classifier' is not defined